<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<%- include('./partials/header.ejs') %>

<div style="min-height: 700px">
  <div class="row" style="text-align: center; height: 100px; padding-top: 20px">
    <h1>Product Category Management</h1>
  </div>
  <% if (msg!=="") { %>
  <div class="alert alert-success" role="alert" id="alertmsg"><%= msg %></div>
  <% } %>
  <div class="row">
    <div class="col-10" style="margin: 0 auto">
      <div class="align-items-center">
        <button
          type="button"
          class="btn btn-dark"
          data-mdb-ripple-color="dark"
          data-mdb-toggle="modal"
          data-mdb-target="#add"
        >
          Add
        </button>
      </div>
      <div id="datatable" style="margin-top: 10px">
        <table id="table" class="display border table-bordered" width="100%">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach((row) => { %>
            <tr>
              <td><%= row._id %></td>
              <td><%= row.name %></td>
              <td>
                <button
                  class="edit-button btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  data-mdb-toggle="modal"
                  data-mdb-target="#edits"
                  onclick="handlerEdit('<%= row._id%>','<%= row.name%>')"
                >
                  sửa
                </button>
                <button
                  class="edit-button btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  data-mdb-toggle="modal"
                  data-mdb-target="#delete"
                  onclick="handlerDelete('<%= row._id%>','<%= row.name%>')"
                >
                  xóa
                </button>
              </td>
            </tr>
            <%}); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="add"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" name="formsubmit" value="form1" />

          <div class="form-outline mb-4">
            <input type="text" name="name" class="form-control" />
            <label class="form-label" for="form5Example1">Name</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="edits"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" name="formsubmit" value="form2" />
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="idupdate"
              class="form-control"
              name="idupdate"
              readonly
            />
            <label class="form-label" for="form5Example1">ID</label>
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              id="nameupdate"
              class="form-control"
              name="nameupdate"
            />
            <label class="form-label" for="form5Example1">Name</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            EDIT
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="titledlt"></div>
        <div id="contentdlt"></div>
      </div>
      <form action="" method="post">
        <input type="hidden" name="formsubmit" value="form3" />
        <input type="hidden" id="iddelete" name="iddelete" />
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-mdb-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
<script>
  $(document).ready(function () {
    $("#table").DataTable({
      columnDefs: [{ orderable: false, targets: [2] }],
    });
  });
  function handlerEdit(id, name) {
    document.getElementById("idupdate").value = id;
    document.getElementById("nameupdate").value = name;
  }
  setTimeout(() => {
    document.getElementById("alertmsg").style.display = "none";
  }, 5000);
  function handlerDelete(id, name) {
    document.getElementById("titledlt").innerHTML =
      "Khi bạn xóa " +
      name +
      " thì tất cả những sản phẩm có thể loại này cũng sẽ bị xóa.";
    document.getElementById("contentdlt").innerHTML =
      "Bạn có chắc chắn muốn xóa thông tin của " + name + " không ?";
    document.getElementById("iddelete").value = id;
  }
</script>
