<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<%- include('./partials/header.ejs') %>
<div style="min-height: 700px">
  <div class="row" style="text-align: center; height: 100px; padding-top: 20px">
    <h1>Product Management</h1>
  </div>
  <% if (msg!=="") { %>
  <div class="alert alert-success" role="alert" id="alertmsg"><%= msg %></div>
  <% } %>
  <div class="row">
    <div class="col-10" style="margin: 0 auto">
      <div class="align-items-center">
        <button
          type="button"
          class="btn btn-dark"
          data-mdb-ripple-color="dark"
          data-mdb-toggle="modal"
          data-mdb-target="#add"
        >
          Add
        </button>
      </div>
      <div class="form-outline mb-4" style="margin-top: 10px">
        <form action="" method="get">
          <div class="row g-3">
            <div class="col-sm-6">
              <div class="form-outline">
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  name="namefilter"
                />
                <label class="form-label" for="form10Example1">Name</label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref"
                  >Category</label
                >
                <select
                  class="select form-select"
                  id="category"
                  name="categoryfilter"
                >
                  <option value="">Category</option>
                  <% listTl.forEach((row)=>{%>
                  <option value="<%= row._id  %>"><%= row.name%></option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref"
                  >Status</label
                >
                <select
                  class="select form-select"
                  id="price"
                  name="pricefilter"
                >
                  <option value="">Price</option>
                  <option value="1">Dưới 1tr</option>
                  <option value="2">Từ 1tr - 5tr</option>
                  <option value="3">Từ 5tr trở lên</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="col-12">
                <button type="submit" class="btn btn-dark" id="filterBtn">
                  Filter
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div id="datatable" style="margin-top: 10px">
        <table id="table" class="display border table-bordered" width="100%">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach((row) => { %>
            <tr>
              <td><%= row._id %></td>
              <td>
                <a href="/productdetail/<%= row._id  %>"><%= row.name %></a>
              </td>
              <td><%= row.id_theloai.name %></td>
              <td><%= row.price %></td>
              <td><%= row.description %></td>
              <td>
                <button
                  class="edit-button btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  data-mdb-toggle="modal"
                  data-mdb-target="#edits"
                  onclick="handlerEdit('<%= row._id %>','<%= row.name %>','<%= row.id_theloai._id %>','<%= row.price %>','<%= row.description %>')"
                >
                  sửa
                </button>
                <button
                  class="edit-button btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  data-mdb-toggle="modal"
                  data-mdb-target="#delete"
                  onclick="handlerDelete('<%= row._id %>','<%= row.name %>')"
                >
                  xóa
                </button>
              </td>
            </tr>
            <%}); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="add"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
          <input type="hidden" name="formType" value="form1" />

          <!-- Name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="form4Example1"
              class="form-control"
              name="name"
            />
            <label class="form-label" for="form4Example1">Name</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="form4Example1"
              class="form-control"
              name="price"
            />
            <label class="form-label" for="form4Example1">Price</label>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea
              class="form-control"
              id="form4Example3"
              rows="4"
              name="description"
            ></textarea>
            <label class="form-label" for="form4Example3">Description</label>
          </div>

          <div class="col-5">
            <label class="visually-hidden" for="inlineFormSelectPref"
              >Category</label
            >
            <select class="select form-select" name="theloai">
              <% listTl.forEach((row)=>{%>
              <option value="<%= row._id  %>"><%= row.name%></option>
              <%})%>
            </select>
          </div>

          <!-- Checkbox -->
          <div style="margin-top: 10px">
            <label class="form-label" for="customFile">Chọn ảnh</label>
            <input
              type="file"
              class="form-control"
              id="customFile"
              name="fileimg"
            />
          </div>
          <!-- Submit button -->
          <div style="margin-top: 40px">
            <button
              type="submit"
              class="btn btn-primary btn-block mb-4"
              onclick="handlerAdd()"
            >
              ADD
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="edits"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit product</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
          <input type="hidden" name="formType" value="form2" />
          <div class="form-outline mb-4">
            <input
              type="text"
              id="idupdate"
              name="idupdate"
              class="form-control"
              readonly
            />
            <label class="form-label" for="form4Example1">ID</label>
          </div>
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="nameupdate"
              name="nameupdate"
              class="form-control"
            />
            <label class="form-label" for="form4Example1">Name</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="priceupdate"
              name="priceupdate"
              class="form-control"
            />
            <label class="form-label" for="form4Example1">Price</label>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea
              class="form-control"
              id="descriptionupdate"
              rows="4"
              name="descriptionupdate"
            ></textarea>
            <label class="form-label" for="form4Example3">Description</label>
          </div>

          <div class="col-5">
            <label class="visually-hidden" for="inlineFormSelectPref"
              >Category</label
            >
            <select
              class="select form-select"
              id="theloaiupdate"
              name="theloaiupdate"
            >
              <% listTl.forEach((row)=>{%>
              <option value="<%= row._id  %>"><%= row.name%></option>
              <%})%>
            </select>
          </div>

          <!-- Checkbox -->
          <div style="margin-top: 10px">
            <label class="form-label" for="customFile">Chọn ảnh</label>
            <input
              type="file"
              class="form-control"
              id="customFile"
              name="fileimg"
            />
          </div>
          <!-- Submit button -->
          <div style="margin-top: 40px">
            <button
              type="submit"
              class="btn btn-primary btn-block mb-4"
              name="formupdate"
            >
              EDIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="contentdlt"></div>
      </div>
      <form action="" method="post">
        <input type="hidden" name="formType" value="form3" />
        <input type="hidden" id="iddelete" name="iddelete" />
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-mdb-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
<script>
  $(document).ready(function () {
    $("#table").DataTable({
      columnDefs: [{ orderable: false, targets: [5] }],
    });
  });
  function handlerAdd() {
    window.history.back(-2);
  }

  function handlerEdit(id, name, theloai, price, description) {
    console.log("đây là id để edit: " + theloai);
    document.getElementById("idupdate").value = id;
    document.getElementById("nameupdate").value = name;
    document.getElementById("priceupdate").value = price;

    document.getElementById("descriptionupdate").value = description;
    const select = document.getElementById("theloaiupdate");
    for (var i = 0; i < select.options.length; i++) {
      if (select.options[i].value === theloai) {
        select.options[i].selected = true;
      }
    }
  }
  function handlerDelete(id) {
    console.log("đây là id để delete: " + id);
  }
  setTimeout(() => {
    document.getElementById("alertmsg").style.display = "none";
  }, 5000);
  function handlerDelete(id, name) {
    document.getElementById("contentdlt").innerHTML =
      "Bạn có chắc chắn muốn xóa thông tin của " + name + " không ?";
    document.getElementById("iddelete").value = id;
  }
</script>
