<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<%- include('./partials/header.ejs') %>
<div style="min-height: 700px">
  <div class="row" style="text-align: center; height: 100px; padding-top: 20px">
    <h1>User Management</h1>
  </div>
  <% if (msg!=="") { %>
  <div class="alert alert-success" role="alert" id="alertmsg"><%= msg %></div>
  <% } %>
  <div class="row">
    <div class="col-10" style="margin: 0 auto">
      <div class="align-items-center">
        <button
          type="button"
          class="btn btn-dark"
          data-mdb-ripple-color="dark"
          data-mdb-toggle="modal"
          data-mdb-target="#add"
        >
          Add
        </button>
      </div>
      <div class="form-outline mb-4" style="margin-top: 10px">
        <form action="" method="get">
          <div class="row g-3">
            <div class="col-sm-6">
              <div class="form-outline">
                <input
                  type="text"
                  id="name"
                  name="namefilter"
                  class="form-control"
                />
                <label class="form-label" for="form10Example1">Last Name</label>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref"
                  >Position</label
                >
                <select
                  class="select form-select"
                  id="position"
                  name="positionfilter"
                >
                  <option value="">Position</option>
                  <option value="true">Admin</option>
                  <option value="false">Client</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref"
                  >Status</label
                >
                <select
                  class="select form-select"
                  id="status"
                  name="statusfilter"
                >
                  <option value="">Status</option>
                  <option value="true">Active</option>
                  <option value="false">Inactive</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="col-12">
                <button type="submit" class="btn btn-dark" id="filterBtn">
                  Filter
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div id="datatable" style="margin-top: 10px">
        <table id="table" class="display border table-bordered" width="100%">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Account creation date</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Status</th>
              <th>Position</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach((row) => { %>
            <tr>
              <td><%= row._id %></td>
              <td>
                <a href="/userdetail/<%= row._id  %>"
                  ><%= row.firstname %> <%= row.lastname %></a
                >
              </td>
              <td><%= row.email %></td>
              <td><%= moment(row.createdAt).format('DD/MM/YYYY, HH:mm') %></td>
              <td><%= row.address %></td>
              <td><%= row.phone %></td>
              <td id="statustd">
                <% if (row.status) {%> Active <% } else {%> Inactive<% } %>
              </td>
              <td>
                <% if (row.position) {%> Admin <% } else {%> Client<% } %>
              </td>
              <td>
                <button
                  class="edit-button btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  data-mdb-toggle="modal"
                  data-mdb-target="#edits"
                  onclick="handlerEdit('<%= row._id  %>',
                  '<%= row.firstname  %>',
                  '<%= row.lastname  %>',
                  '<%= row.email  %>',
                  '<%= row.password  %>',
                  '<%= row.status  %>',
                  '<%= row.position  %>',
                  )"
                >
                  sửa
                </button>
                <button
                  data-id="<%= row._id  %>"
                  class="edit-button btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  data-mdb-toggle="modal"
                  data-mdb-target="#delete"
                  onclick="handlerDelete('<%= row._id %>','<%= row.lastname %>')"
                >
                  xóa
                </button>
              </td>
            </tr>
            <%}); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="add"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add user</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" name="formsubmit" value="form1" />

          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input
                  type="text"
                  id="form6Example1"
                  name="firstname"
                  class="form-control"
                />
                <label class="form-label" for="form6Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input
                  type="text"
                  id="form6Example2"
                  name="lastname"
                  class="form-control"
                />
                <label class="form-label" for="form6Example2">Last name</label>
              </div>
            </div>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form6Example5"
              name="email"
              class="form-control"
            />
            <label class="form-label" for="form6Example5">Email</label>
          </div>

          <!-- Number input -->
          <div class="form-outline mb-4">
            <input
              type="password"
              id="form6Example6"
              name="password"
              class="form-control"
            />
            <label class="form-label" for="form6Example6">Password</label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="position"
              id="inlineRadio1"
              value="Admin"
            />
            <label class="form-check-label" for="inlineRadio1">Admin</label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="position"
              id="inlineRadio2"
              value="Client"
              checked
            />
            <label class="form-check-label" for="inlineRadio2">Client</label>
          </div>
          <!-- Checkbox -->
          <div
            class="form-check d-flex justify-content-start mb-4"
            style="margin-top: 10px"
          >
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              name="status"
              id="status"
              checked
            />
            <label class="form-check-label" for="form6Example8">
              Active?
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            ADD
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="edits"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" name="formsubmit" value="form2" />
          <div class="form-outline mb-4">
            <input
              type="text"
              id="idupdate"
              name="idupdate"
              class="form-control"
              readonly
            />
            <label class="form-label" for="form6Example5">ID</label>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input
                  type="text"
                  id="firstnameupdate"
                  name="firstnameupdate"
                  class="form-control"
                />
                <label class="form-label" for="form6Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input
                  type="text"
                  id="lastnameupdate"
                  name="lastnameupdate"
                  class="form-control"
                />
                <label class="form-label" for="form6Example2">Last name</label>
              </div>
            </div>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="emailupdate"
              name="emailupdate"
              class="form-control"
            />
            <label class="form-label" for="form6Example5">Email</label>
          </div>

          <!-- Number input -->
          <input
            type="hidden"
            id="passwordupdate"
            name="passwordupdate"
            class="form-control"
          />

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="positionupdate"
              id="adminupdate"
              checked
              value="Admin"
            />
            <label class="form-check-label" for="inlineRadio1">Admin</label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="positionupdate"
              id="clientupdate"
              value="Client"
            />
            <label class="form-check-label" for="inlineRadio2">Client</label>
          </div>
          <!-- Checkbox -->
          <div
            class="form-check d-flex justify-content-start mb-4"
            style="margin-top: 10px"
          >
            <input
              class="form-check-input me-2"
              type="checkbox"
              id="statusupdate"
              name="statusupdate"
            />
            <label class="form-check-label" for="form6Example8">
              Active?
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Edit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="contentdlt"></div>
      </div>
      <form action="" method="post">
        <input type="hidden" name="formsubmit" value="form3" />
        <input type="hidden" id="iddelete" name="iddelete" />
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-mdb-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>

<script>
  $(document).ready(function () {
    $("#table").DataTable({
      columnDefs: [{ orderable: false, targets: [6] }],
    });
  });
  function handlerEdit(
    id,
    firstname,
    lastname,
    email,
    password,
    status,
    position
  ) {
    console.log(typeof position + typeof status + "đây là position và status");
    document.getElementById("idupdate").value = id;
    document.getElementById("firstnameupdate").value = firstname;
    document.getElementById("lastnameupdate").value = lastname;
    document.getElementById("emailupdate").value = email;
    document.getElementById("passwordupdate").value = password;
    document.getElementById("statusupdate").checked =
      status == "true" ? true : false;
    if (position == "true") {
      console.log("đây là admin");
      document.getElementById("adminupdate").checked = true;
    } else if (position == "false") {
      console.log("đây là client");

      document.getElementById("clientupdate").checked = true;
    }
  }
  setTimeout(() => {
    document.getElementById("alertmsg").style.display = "none";
  }, 5000);
  function handlerDelete(id, name) {
    document.getElementById("contentdlt").innerHTML =
      "Bạn có chắc chắn muốn xóa thông tin của " + name + " không ?";
    document.getElementById("iddelete").value = id;
  }
</script>
